body{
	font-size: 10px;
}
h1{
	font-family: Georgia;
	font-size: 5em;
	font-weight: bold;
	text-align: center;
	text-decoration: underline;
}
p{
	font-family: Arial;
	font-size: 2em;
	line-height: 1.5;
	text-align: center;
}
span{
	font-size: 2em;
}